<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Added Question</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <style>
a {
	font-size: 250%;
	text-decoration: underline;
}

img {
	display: block !important;
	visibility: visible
}

body {
	font-family: "Times New Roman", Georgia, Serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Playfair Display";
	letter-spacing: 5px;
}

p {
	font-size: 100%;
}
</style>
</head>
<body>
<th:block th:replace="navigation :: nav"></th:block>
<br /> <br /> <br /><br />
	<h1>Thanks Your question is added</h1>
	
</body>
</html>