<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org "
	xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Create New Program</title>
</head>
<body>
	<form th:action="@{addprogram}" th:object="${program}" method="post">
		Name: <input type="text" id="name" th:field="*{name}" />
		Description: <textarea id="description" th:field="*{description}" rows="10" cols="60"></textarea>
		Start Date: <input type="text" id="startDate" th:field="*{startDate}" />
		End Date: <input type=""
	</form>
</body>
</html>