<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org "
	xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>My Programs</title>
<link rel="stylesheet" href="/css/browseprograms.css"></link>
</head>
<body>
hello world
<span th:text="${programs.size()}"></span>
<div class="container"  th:if="${#lists.isEmpty(programs)}">
	No enrolled Programs.
</div>
<div class="container"  th:if="${not #lists.isEmpty(programs)}">


	<h2>Program List</h2>
	<th:block th:each="index : ${#numbers.sequence( 0, #arrays.length(programs)-1)}">
		<div class="program-container" th:with="program=${programs[index]}" th:if="${not #strings.equals(programs[index].name,'universal')}">
			<div class="row">
				<div class="course-name">
					<p th:text="${'Course: ' + program.name}"></p>
					<p th:text="${'ID: ' + program.id}"></p>
				</div>
				<div class="course-apply">
					<form action="#" th:action="@{apply}" th:object="${program}" method="post">
						<input type="hidden" name="id" th:value="${program.id}" />
						<input type="hidden" name="name" th:value="${program.name}" />
						<input type="hidden" name="description" th:value="${program.description}" />
						<input type="hidden" name="startDate" th:value="${program.startDate}" />
						<input type="hidden" name="endDate" th:value="${program.endDate}" />
						<input type="hidden" name="classSize" th:value="${program.classSize}" />
						<input type="hidden" name="active" th:value="${program.active}" />
						<input type="hidden" name="open" th:value="${program.open}" />
						<input type="hidden" name="deadline" th:value="${program.deadline}" />
						<input type="hidden" name="schedule" th:value="${program.schedule}" />
						<input type="hidden" name="college" th:value="${program.college.id}" />
						<button class="btn btn-block" type="submit">Apply</button>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="course-schedule">
					<p th:text="${program.schedule}"></p>
				</div>
				<div class="course-admins">
					<p>Program Admin(s)</p>
					<th:block th:each="progAdmin : ${program.users}">
						<p th:text="${progAdmin.firstName + ' ' + progAdmin.lastName}"></p>
					</th:block>
				</div>
			</div>
			
			<div class="course-description">
				<p th:text="${program.description}"></p>
			</div>
				<div class="row">
					<div class="course-college-deadline">
					<p th:text="${program.college.name}"></p>
					<p th:text="${'Deadline: ' + program.deadline}"></p>
				</div>
				<div class="course-enrollment-range">
					<p th:text="${'Students Enrolled: ' + counts[index] + '/' + program.classSize}"></p>
					<p th:text="${program.startDate + ' - ' + program.endDate}"></p>
				</div>
			</div>
		</div>
	</th:block>
</div>
</body>
</html>