<html xmlns:th="http://www.thymeleaf.org">
<!-- Navbar (sit on top) -->
<th:block th:fragment="nav">
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card-2" style="letter-spacing:4px;">
    <a href="/" class="w3-bar-item w3-button">Medusa Education Platform</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
		
      <a href="/userprofile" class="w3-bar-item w3-button">My Profile</a>
      <a href="/myprograms" class="w3-bar-item w3-button">My Programs</a>
      <A href="login.html" class="w3-bar-item w3-button">Logout</A> 
      
    </div>
  </div>
</div>
</th:block>


</html>