<!DOCTYPE html>
<html     xmlns="http://www.w3.org/1999/xhtml"
         xmlns:th="http://www.thymeleaf.org"
         xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Effort Registration</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <th:block th:replace="base :: head"></th:block>
    <style>
a {font-size: 250%;
	text-decoration: underline;}
img {display:block !important; visibility:visible}
body {font-family: "Times New Roman", Georgia, Serif;} 
h1,h2,h3,h4,h5,h6 { 
  font-family: "Playfair Display"; 
  letter-spacing: 5px; 
 } 
p{font-size: 100%;}
</style> 
</head>
<body>
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card-2" style="letter-spacing:4px;">
    <a href="/" class="w3-bar-item w3-button">Medusa Education</a>
 
    <div class="w3-right w3-hide-small">
<!--     <a href="login.jsp" class="w3-bar-item w3-button">Log in</a> -->
<!-- 	  <a href="/login" class="w3-bar-item w3-button" style="size:5">log in</a>  -->
<!--       <a href="/register" class="w3-bar-item w3-button">Registration</a> -->
<!--       <a href="contactSection.html" class="w3-bar-item w3-button">Contact</a> -->
    </div>
  </div>
</div>
<br /><br /><br /><br /><br />
<div class="container">
    <br /><br /><br />
    <h4>New User Registration</h4>

    <form autocomplete="off" action="#" th:action="@{/register}" th:object="${user}"
          method="post">
          
          <div class="form-group"   >
    	<label for="role">Register As <mark><strong></strong></mark></label>
        <select class="form-control" id ="role"  th:field="*{role}">
            <option th:each ="ulist : ${userlist}" 
            		th:value="${ulist.key}"
            		th:text="${ulist.value}"
            		th:select="${userlist.contains(ulist)}"
            		
            />
        </select>
        </div>
       
        <div class="form-group"  >
            <label for="firstName">First Name <mark><strong><span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name Error</span></strong></mark></label>
            <input type="text" class="form-control" id="firstName" placeholder="First Name" th:field="*{firstName}" />
        </div>
        <div class="form-group" >
            <label for="lastName">Last Name <mark><strong><span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</span></strong></mark></label>
            <input type="text" class="form-control" id="lastName" placeholder="Last Name" th:field="*{lastName}" />
        </div>
        <div class="form-group" >
            <label for="email">Email <mark><strong><span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</span></strong></mark></label>
            <input type="text" class="form-control" id="email" placeholder="Email" th:field="*{email}" />
        </div>
        <div class="form-group" >
            <label for="username">Username <mark><strong><span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</span></strong></mark></label>
            <input type="text" class="form-control" id="username" placeholder="Username" th:field="*{username}" />
        </div>
        <div class="form-group" >
            <label for="password">Password <mark><strong><span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span></strong></mark></label>
            <input type="password" class="form-control" id="password" placeholder="Password" th:field="*{password}" />
        </div>
        
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div><!-- /.container -->
<th:block th:replace="base :: footlinks"></th:block>
</body>
</html>