<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>View Applicants</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="../../css/homepage.css">
<style>
a {font-size: 250%;
	text-decoration: underline;}
img {display:block !important; visibility:visible}
body {font-family: "Times New Roman", Georgia, Serif;} 
h1,h2,h3,h4,h5,h6 { 
  font-family: "Playfair Display"; 
  letter-spacing: 5px; 
 } 
p{font-size: 100%;}
</style> 
</head>
<body style="align: center">
<!-- Navbar (sit on top) -->
	<th:block th:replace="navigation :: nav"></th:block>
	<br />
		<br />
		<br /><br />
		<br />


<div class="container"  th:if="${not #lists.isEmpty(userlist)}">
	<h2>Applicant List</h2>
	
	<table class="table-responsive table-hover table-bordered" id="Userlist" style="width:100%">
				<tr>
					<th><h3>Username</h3></th>
					<th><h3>First Name</h3></th>
					<th><h3>Last Name</h3></th>
					<th><h3>Email Address</h3></th>
					<th><h3>Role</h3></th>
					<th><h3>Block?</h3></th>
					<th></th>
				</tr>
				<th:block th:each="user : ${userlist}">
					<tr th:if="${user.active=='true'}">
						<th class="text-center" th:text="${user.username}"></th>
						<th class="text-center" th:text="${user.firstName}"></th>
						<th class="text-center" th:text="${user.lastName}"></th>
						<th class="text-center" th:text="${user.email}"></th>
						<th class="text-center" th:text="${user.role}"></th>
						<th>
							<form th:action="@{blockfromuserlist}" th:object="${user}" method="post">
								<input type="hidden" name="id" th:value="${user.id}"/>
								<input type="hidden" name="username" th:value="${user.username}"/>
								<input type="hidden" name="firstName" th:value="${user.firstName}"/>
								<input type="hidden" name="lastName" th:value="${user.lastName}"/>
								<input type="hidden" name="email" th:value="${user.email}"/>
								<input type="hidden" name="role" th:value="${user.role}"/>
								<input type="hidden" name="active" th:value="${user.active}"/>
								<input type="hidden" name="password" th:value="${user.password}"/>
								<button class="btn btn-danger btn-block" type="submit">Block</button>
							</form>
						</th>
					</tr>
				</th:block>
			</table>
	
	</div>


</body>
</html>