<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>View Applicants</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="../../css/homepage.css">
<style>
a {font-size: 250%;
	text-decoration: underline;}
img {display:block !important; visibility:visible}
body {font-family: "Times New Roman", Georgia, Serif;} 
h1,h2,h3,h4,h5,h6 { 
  font-family: "Playfair Display"; 
  letter-spacing: 5px; 
 } 
p{font-size: 100%;}
</style> 
</head>
<body style="align: center">
<th:block th:replace="navigation :: nav"></th:block>
<br /> <br /> <br /><br />
<br />



<div class="container"  th:if="${not #lists.isEmpty(users)}">
	<h2>Applicant List</h2>
	
	<table class="table-responsive table-hover table-bordered" id="Userlist" style="width:100%">
				<tr>
					<th><h3>Username</h3></th>
					<th><h3>First Name</h3></th>
					<th><h3>Last Name</h3></th>
					<th><h3>Email Address</h3></th>
					<th><h3>Role</h3></th>
					<th><h3>Accept/Reject</h3></th>
					<th></th>
				</tr>
				<th:block th:each="user : ${users}">
					<tr th:if="${user.active=='true'}">
						<th class="text-center" th:text="${user.username}"></th>
						<th class="text-center" th:text="${user.firstName}"></th>
						<th class="text-center" th:text="${user.lastName}"></th>
						<th class="text-center" th:text="${user.email}"></th>
						<th class="text-center" th:text="${user.role}"></th>
					</tr>
				</th:block>
			</table>
	
	</div>


</body>
</html>